
* {
    margin: 0;
    padding: 0;
    font-size: 15px;
    font-family: "Roboto","Arial",sans-serif;
}

ul {
	list-style: none;
}

a {
    text-decoration: none;
}


html, body {
    height: 100%;
}

body {
	display: flex;
	align-items: center;
	justify-content: center;	
}

#container {
	border: black;
	background-color: black;
}

#login {
	color: white;
	padding: 30px;
	text-align: center;
}

#login h4 {
	margin-bottom: 10px;
}

.button {
	margin-top: 10px;
	border: 1px solid white;
	color: white;
	background-color:black;
	width: 70%;
	padding: 5px;
}


#voltar {
margin-top:20px;
}

#voltar a {
color:white;
}

#voltar a:visited {
color: white;
}

